@use '../utils/breakpoints' as *;
@use '../utils/utils' as *;

.container {
  width: 100%;
  max-width: em(1152);
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    padding: 0 em(32);
  }

  @include media-breakpoint-down(sm) {
    padding: 0 em(20);
  }
}
