@use '../utils/variables.scss' as *;

.fade {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity $time-normal;
  }
}

.crossfade {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity $time-normal;
  }

  &-leave-active {
    position: absolute;
  }
}

.cards{
  &-enter-active,
  &-leave-active {
    transition: $time-normal $ease;
    transition-property: opacity, scale;
  }

  &-leave-active {
    position: absolute;
    z-index: -1;
  }

  &-enter-from {
    opacity: 0;
    scale: 0.5;
  }

  &-enter-to {
    opacity: 1;
    scale: 1;
  }

  &-leave-from {
    opacity: 1;
    scale: 1;
  }

  &-leave-to {
    opacity: 0;
    scale: 0.5;
  }
}
